<div id="nypl-search-top">
  <form action="http://www.nypl.org/" accept-charset="UTF-8" method="get" id="nypl-search-block-form">
    <input id="nypl-search-q" name="q" type="hidden" value="">
    <input id="nypl-search-t" name="t" type="hidden" value="smart">
    <input id="nypl-search-searchOpt" name="searchOpt" type="hidden" value="catalogue">
    <input class="form-text" maxlength="128" id="search-block-form-input" name="search_block_form" type="text" placeholder="Find books, music, movies, and more">
    <input alt="search catalog" id="nypl-search-button-catalog" class="catalog_button" name="commit" title="search catalog" type="button" value="Catalog">
    <input alt="search NYPL.org" id="nypl-search-button-nypl" class="nypl_button" name="commit" title="search NYPL.org" type="button" value="NYPL.org">
  </form>
</div>
