<div id="header" class="header--global">

  <div class="buttons--mobile">
    <div class="btn--nav--global icon-menu2"></div>
    <div class="btn--search--global icon-search"></div>
  </div>


  <div class="header--global__top">
    <div class="header__login-donate">
      <!-- LOGIN BUTTON -->
      <a class="btn--sso--global btn--sso" title="Log In">Log in</a>
      <!-- DONATE BUTTON -->
      <a class="btn--donate--global btn--donate" href="https://secure3.convio.net/nypl/site/SPageServer?pagename=donation_form&JServSessionIdr003=dwcz55yj27.app304a&s_src=FRQ14ZZ_SWBN">Donate</a>
    </div>

    <!-- LOGO -->
    <a class="logo--global icon-NYPL_mark1_white_rev" href="/" id="site-id" title="Go to the home page"><span class="site-name visuallyhidden">The New York Public Library</span></a>	
    
    <!-- SEARCH BOX-->
    <div class="search--global " id="search-top">
      <form action="#" accept-charset="UTF-8" method="post" id="search-block-form">
	<input class="form-text" maxlength="128" id="search-block-form-input" name="search_block_form" type="text" placeholder="Find books, music, movies and more" autocomplete="false"/>
	
	<fieldset class="pseudo-select">
	  <ul>
	    <li class="search-the-catalog">
	      <label>
		<input name="searchtype" type="radio" checked="checked"/>
		Catalog
	      </label>
	    </li>
	    
	    <li class="search-the-site">
	      <label>
		<input name="searchtype" type="radio"/>
		NYPL.org
	      </label>
	    </li>
	  </ul>
	</fieldset>
	
	<button alt="Search" class="search_button hidden-xs icon-search" name="commit" title="Search"></button>
      </form>
      
      <a href="http://catalog.nypl.org/" class="classic-catalog">Classic Catalog</a>
    </div>
    
    <!-- end header--global__top -->
  </div>

  <div id="primary-links" class="primary-links">
    <%= nav_menu(@header['menu']) %>
  </div>
</div>
