<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NYPL Ccommon Header Reference</title>
  </head>
  <body>
    <%= build_header %>
    <!-- page content -->
  </body>
</html>