<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <% if !@css_includes.nil? %>
    <%= @css_includes %>
    <% end %>
    <script src="script.js"></script>
  </head>
  <body style="margin: 0; padding: 0">
    <%= @h.result %>
  </body>
</html>
